/*
    Description: Custom colour scheme used for the website.
    to be called after any bootstrap files
    this will overite the standard bootstrap colours.

    Author: David McRae
 */
body, .form-control, .input-group-text, .custom-select, .list-group-item
{
  background-color: #17181c;
  color:#f7a416;
}
.bg-Custom
{
  background-color: #17181c;
}
h1, h2, text, .text
{
  color: #ffffff;
  display:inline;
}

h6, h4
{
  display:inline;
}

hr
{
  background-color: #2a2c33;
  color: #2a2c33;
}

.cave
{
  background-image: url('images/cave.jpg');
}
.parchment
{
  background-image: url('images/parchment.jpg');
}

.parchment-header
{
  color: black;
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
